*.DS_Store
themes/
# themes/*/languages
# themes/*/layout
# themes/*/scripts
# themes/*/source
# themes/*/gitattributes
# themes/*/.gitignore
# themes/*/LICENSE
# themes/*/README

node_modules/
package.json
package-lock.json
hexo-next/package.json
hexo-next/package-lock.json
